/client/node_modules/
/server/node_modules/
/node_modules/
*.log
.DS_Store
/client/dist/
/server/exports/
startup_logs/
.trae/
.vscode/
*.csv
expenses_initial.csv
.github/workflows/error.txt
server/database.sqlite
server/uploads
server\database.sqlite
server/.env
server/data/expenses.db
server/data/donation_records.json
node_modules
